* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    /* min-height: 100vh;
    background: url('../img/background4.jpg') no-repeat; 
    background-size: cover;
    background-position: center; */
    background-color: beige;
    opacity: 15px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: #559e46;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 0px 0px 10px #559e46;
}

.logo {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    padding-left: 15px;
    margin: 0;
}

.logoimg {
    height: 50px;
    width: 50px;
    padding: 0;
    margin: 0;
}

.logoflex {
    display: flex  ;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;

}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: 1s;
}

.navbar a:hover::before {
    width: 100%;

}

.flex-container {
    display: flex;
    flex-direction: row; /* Alinha os itens horizontalmente */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    justify-content: space-between; /* Distribui os itens com espaçamento igual */
    height: auto; /* Pode ser ajustado conforme necessário */
    width: 100%; /* Ajuste conforme necessário */
}

.flexcontainerinfos {
    display: flex;
    flex-direction: column; /* Alinha os itens verticalmente */
    flex: 1; /* Faz com que esse contêiner ocupe o espaço disponível */
}

.links img {
    margin-right: 10px; /* Adiciona espaçamento entre as imagens */
}

.perfil {
    width: 100px; /* Ajuste o tamanho conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
}